.mf-k-form-container{
    text-align: center;
    margin-top: 50px;
    & .k-form-inputs{
        top: 2943px;
        left: 0px;
        height: 292px;
        /* UI Properties */
        background: var(--keralty-boton-azul-a-0071a3) 0% 0% no-repeat padding-box;
        background: #0071A3 0% 0% no-repeat padding-box;
        opacity: 0.96;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        & .k-select, .k-input{
            width: 300px;
            margin: 5px 5px 5px;
            display: inline-grid;
            position: relative;
        }
        & .k-select-agreement{
            display: inline-table;
            width: 300px;
            text-align: left;
            &__help-text{
                letter-spacing: 0px;
                color: #757575;
                opacity: 1;
                font-family: "Proxima Nova", sans-serif;
                font-size: 14px !important;
                padding: 0px 25px;
                display: flex;
                margin-top: -8px;
                display: block;
            }
        }
    }
}

.k-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
